@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css?family=Inter:var(--small-text-font-weight),var(--body-text-font-weight),500,400,700|Montserrat:500,700,800|Roboto:400");
@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
html,
body {
  margin: 0px;
  height: 100%;
}
/* a blue color as a generic focus style */
button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}
a {
  text-decoration: none;
  color: inherit; /* 기본 링크 색상 유지 */
}
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-montserrat: Montserrat;
  --small-text: Inter;
  --font-roboto: Roboto;

  /* font sizes */
  --font-size-2xs-6: 10.6px;
  --font-size-lg-1: 18.1px;
  --small-text-size: 16px;
  --subheading-size: 24px;
  --font-size-lgi: 19px;
  --title-size: 64px;
  --font-size-32xl: 51px;
  --font-size-19xl: 38px;
  --body-text-size: 20px;
  --heading-size: 40px;
  --font-size-13xl: 32px;
  --font-size-sm: 14px;
  --font-size-6xl: 25px;
  --font-size-base-1: 15.1px;
  --font-size-24xl-7: 43.7px;
  --font-size-16xl: 35px;
  --font-size-7xl: 26px;

  /* Colors */
  --light-text-color: #fff;
  --color-black: #000;
  --color-cornflowerblue-100: #26a1f5;
  --color2: #0d99f1;
  --color-cornflowerblue-200: #2682d4;
  --color: #007ace;
  --second-text-color: #737373;
  --color-darkslategray-100: #454545;
  --text-color: #252b42;
  --color1: #00276c;
  --color-darkslateblue-100: #33599e;
  --color3: #005cac;
  --color4: #00408b;
  --color-gray-100: #828282;
  --color-gray-200: #1f1212;
  --color-gray-300: rgba(0, 0, 0, 0.5);
  --color-gray-400: rgba(0, 0, 0, 0.1);
  --color-whitesmoke: #f7f7f7;
  --color-gainsboro: #e6e6e6;

  /* Spacing */
  --spacing-sm: 32px;

  /* Gaps */
  --gap-119xl: 138px;
  --gap-xl: 20px;
  --gap-3xl-6: 22.6px;
  --gap-5xs-5: 7.5px;
  --gap-5xl: 24px;
  --gap-56xl: 75px;
  --gap-12xl-9: 31.9px;
  --gap-111xl: 130px;
  --gap-125xl: 144px;
  --gap-4xl: 23px;
  --gap-5xs: 8px;
  --gap-9xs: 4px;
  --gap-174xl-6: 193.6px;
  --gap-7xl-4: 26.4px;
  --gap-11xl: 30px;
  --gap-24xl: 43px;

  /* Paddings */
  --padding-12xs: 1px;
  --padding-xl: 20px;
  --padding-11xs: 2px;
  --padding-7xl-4: 26.4px;
  --padding-11xl-2: 30.2px;
  --padding-11xl-1: 30.1px;
  --padding-12xs-1: 0.1px;
  --padding-2xl: 21px;
  --padding-sm: 14px;
  --padding-5xl: 24px;
  --padding-71xl: 90px;
  --padding-50xl: 69px;
  --padding-73xl: 92px;
  --padding-11xl: 30px;
  --padding-12xs-7: 0.7px;
  --padding-12xl: 31px;
  --padding-12xl-3: 31.3px;
  --padding-2xs: 11px;
  --padding-xs: 12px;
  --padding-lg-7: 18.7px;
  --padding-13xl: 32px;
  --padding-smi: 13px;
  --padding-mid: 17px;
  --padding-xl-5: 20.5px;
  --padding-5xs: 8px;
  --padding-7xs: 6px;
  --padding-6xs: 7px;
  --padding-96xl: 115px;
  --padding-130xl: 149px;
  --padding-139xl-3: 158.3px;
  --padding-159xl: 178px;
  --padding-3xs: 10px;
  --padding-7xl: 26px;
  --padding-8xl-1: 27.1px;
  --padding-6xl: 25px;

  /* Border radiuses */
  --br-5xs: 8px;
  --br-xs: 12px;
  --br-7xs: 6px;
  --br-8xl-9: 27.9px;

  /* Effects */
  --button-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
}

/* RouterLink 스타일 수정 */
a.router-link-active {
  color: inherit; /* 링크가 활성 상태일 때 글씨 색 유지 */
}

a.router-link-exact-active {
  color: inherit; /* 링크가 정확히 일치할 때 글씨 색 유지 */
}

/* 필요에 따라 추가적인 스타일링을 적용할 수도 있습니다. */
a.router-link-active:hover,
a.router-link-exact-active:hover {
  color: inherit; /* 링크가 활성 상태에서 호버 시 글씨 색 유지 */
}
